.body {
    background: rgb(247, 247, 247);
    color: rgb(24, 24, 24);
}

.wrapper {
    /* display: flex;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 20px; */
    column-width: 400px;
    column-gap: 24px;
    column-rule: 2px solid hsl(0dge, 0%, 30%);
}

.left-info {
    padding-top: 20px;
    padding-left: 200px;
    background: rgb(255, 170, 144);
    padding-bottom:300px
    /* width: 400px; 
    float: left;  */
} 

.right-info {
    padding-top: 20px;
    padding-right: 200px;
    /* width: 680px; 
    float: right;  */
    padding-bottom:300px;
    background: lightblue;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* 
.wrap {display: flex; justify-content: space-between;}
.left, .right, .middle {height: 100px;}
.left {width: 200px; background: coral;}
.right {width: 120px; background: lightblue;}
.middle {background: #555; width: 100%; margin: 0 20px;} */